<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hermesolsowy.comunicador.laboratorio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListaAlumnosActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GrillaAlumnoActivity"
            android:label="@string/title_activity_grilla_alumno"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".NuevoAlumnoActivity"
            android:label="@string/title_activity_nuevo_alumno"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
